@font-face {
    font-family: vcr;
    src: url(../../_font/VCR_OSD_MONO_1.001.ttf);
}
*{
    margin: 0;
    padding: 0;
    color: var(--darkGray);
}
:root{
    --darkGray: #3a3a3a;
}
#main{
    position: relative;
}
#mainImg{
    position: absolute;
    z-index: -1;
    width: 100%;
}
#div1{
    position: relative;
    border: 4px solid rgb(0, 255, 38);
}
#div1img{
    width: 100%;
}
#div1img2{
    position: absolute;
    top: 30%;
    left: 20%;
    width: 50%;
}
/*UR og DATO*/
#div2{
    position: relative;
    border: 4px solid rgb(0, 255, 38);
}
#div2img1{
    position: absolute;
    z-index: -1;
    width: 100%;
}
#div2img2{
    margin-top: 20px;
    margin-left: 20px;
    width: 50%;
}
#div2 h2{
    margin-top: 1em;
    /* margin-left: 1em; */
    text-align: center;
    font-family: vcr;
    font-size: 2.5em;
    text-transform: uppercase;
}
#time {
    font-family: vcr;
    font-size: 5em;
    /* margin-left: 1rem; */
    text-align: center;
}
#date {
    /* margin-left: 1em; */
    text-align: center;
    margin-bottom: 1em;
    font-family: vcr;
    font-size: 2em;
}
/*SKEMA*/
#div3{
    position: relative;
    border: 4px solid rgb(0, 255, 38);
}
#div3 div{
    font-family: vcr;
    margin-top: 3rem;
    margin-left: 1%;
}
#div3img1{
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}
#div3img2{
    width: 30%;
}
/*Kantine*/
#div4{
    position: relative;
    border: 4px solid rgb(0, 255, 38);

}
#div4 h2{
    font-family: vcr;
    margin-left: 8rem;
    margin-top: 6rem;
}
#div4 p{
    font-family: vcr;
    margin-left: 8rem;
    margin-top: 1rem;
}
#div4img1{
    position: absolute;
    z-index: -1;
    width: 100%;
}
/*Container til bustider*/
#div5{
    border: 4px solid rgb(0, 255, 38);
    height: 160%;
    position: relative;
}
#div5img1{
    position: absolute;
    top: 0%;
    width: 100%;
    z-index: -1;
}
/*Overskriften til bustider*/
#bus{
    font-family: "vcr";
    font-weight: 300;
    font-size: 2.5em;
    margin-top:5px;
    margin-left: 5%;
}
/*Teksten til bus tiderne*/
#busDataContainer p{
    margin-top: 5%;
    margin-left: 5%;
    font-family: "vcr";
    font-size: 1.5em;
}
/*Billedet af bussen*/
#Bussen{
    position: absolute;
    top: 63%;
    width: 23%;
}
/*WIFI*/
#div6{
    position: relative;
    border: 4px solid rgb(0, 255, 38);

}
#div6 h3{
    font-family: "vrc";
} 
#div6 p{
    font-family: "vrc";
}
#div6img1{
    width: 100%;
}

/*FOOTER */
footer{
    border: 4px solid rgb(0, 255, 38);
}
footer img{
    width: 100%;
}