@font-face {
    font-family: vcr;
    src: url(../../_font/VCR_OSD_MONO_1.001.ttf);
}
*{
    margin: 0;
    padding: 0;
    color: var(--darkGray);
}
:root{
    --darkGray: #3a3a3a;
}
#main{
    position: relative;
}
#mainImg{
    position: absolute;
    z-index: -1;
    width: 100%;
}
#div1{
    position: relative;
}
#div1img{
    width: 100%;
}
#div1img2{
    position: absolute;
    top: 30%;
    left: 20%;
    width: 50%;
}
/*UR og DATO*/
#div2{
    position: relative;
}
#div2img1{
    position: absolute;
    z-index: -1;
    width: 60%;
}
#div2img2{
    margin-top: 5px;
    width: 40%;
}
#div2 h2{
    margin-top: 2.5rem;
    margin-bottom: 2rem;
    margin-left: 1rem;
    font-family: vcr;
    font-size: 2.5em;
}
#div2 h3{
    margin-left: 1rem;
    margin-bottom: 1rem;
    font-family: vcr;
    font-size: 2em;
}
/*SKEMA*/
#div3{
    position: relative;

}
#div3 div{
    font-family: vcr;
    margin-top: 3rem;
    margin-left: 1%;
}
#div3img1{
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}
#div3img2{
    width: 30%;
}
/*Kantine*/
#div4{
    position: relative;
}
#div4 h2{
    font-family: vcr;
    margin-left: 8rem;
    margin-top: 6rem;
}
#div4 p{
    font-family: vcr;
    margin-left: 8rem;
    margin-top: 1rem;
}
#div4img1{
    position: absolute;
    z-index: -1;
    width: 100%;
}
/*Container til bustider*/
#div5{
    /* background-image: url(../images/InfoskærmLayout/BustiderContainer/Container/BUSTIDER@2x.png);
    background-size: cover;
    background-repeat: no-repeat; */
    height: 160%;
    position: relative;
}
#div5img1{
    position: absolute;
    top: 0%;
    width: 100%;
    z-index: -1;
}
/*Overskriften til bustider*/
#bus{
    font-family: "vcr";
    font-weight: 300;
    font-size: 2.5em;
    margin-top:5px;
    margin-left: 5%;
}
/*Teksten til bus tiderne*/
#busDataContainer p{
    margin-top: 5%;
    margin-left: 5%;
    font-family: "vcr";
    font-size: 1.5em;
}
/*Billedet af bussen*/
#Bussen{
    position: absolute;
    top: 63%;
    width: 23%;
}
/*WIFI*/
#div6{
    position: relative;
}
#div6 h3{
    font-family: "vrc";
} 
#div6 p{
    font-family: "vrc";
}
#div6img1{
    width: 100%;
}