@font-face {
    font-family: vcr;
    src: url(../../_font/VCR_OSD_MONO_1.001.ttf);
}
@font-face {
    font-family: skippy;
    src: url(../../_font/skippy_sharpie.ttf);
}

:root{
    /*Farveskema*/
    --white: #ffffff;
    --black: #000000;
}

*{
    margin: 0;
}

.main {
    display: grid; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
    height: 100%;
}
#div1 {
    /* background-color: #BADB6D;  */
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 1;
    grid-column-end: 5;
}
#div2 {
    /* background-color: #795B68;  */
    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 4;
    grid-column-end: 3;
}
#div3 {
    /* background-color: #799C97;  */
    grid-row-start: 2;
    grid-column-start: 3;
    grid-row-end: 6;
    grid-column-end: 6;
}
#div4 {
    background-color: #8B5577; 
    grid-row-start: 2;
    grid-column-start: 6;
    grid-row-end: 4;
    grid-column-end: 9;
}
#div5 {
    /* background-color: #595557;  */
    grid-row-start: 4;
    grid-column-start: 1;
    grid-row-end: 6;
    grid-column-end: 3;
}
#div6 {
    background-color: #FCBF7D; 
    grid-row-start: 4;
    grid-column-start: 6;
    grid-row-end: 6;
    grid-column-end: 9;
}